html {
	display: flex;
	align-items: center;
	justify-content: center;
}

#character {
	background-color: black;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	border-style: solid;
	margin-top: 100px;
}

#form {
	display: flex;
	flex-direction: column;
}

#name,
#clan {
	margin-top: 3px;
	margin-bottom: 3px;
	width: 95px;
	height: 1.5rem;
	color: black;
}

#generator {
	background-color: black;
	color: white;
	width: 103px;
	height: 1.5rem;
}
