html {
	display: flex;
	align-items: center;
	justify-content: center;
}

#character {
	background-color: black;
	border-style: solid;

	margin-top: 100px;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#name {
	width: 200px;
	height: 1.5rem;
	color: black;
}

#generator {
	background-color: black;
	color: white;
	width: 77px;
	height: 1.5rem;
}
